<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Hive Node Beacon</title>
    <meta name="description" content="Hive Blockchain node monitor" />
    <meta name="author" content="@peakd" />
    <meta
      property="og:image"
      content="https://images.hive.blog/u/peak.beacon/avatar"
    />
    <meta
      name="twitter:image"
      content="https://images.hive.blog/u/peak.beacon/avatar"
    />

    <link rel="icon" type="image/png" href="<%= BASE_URL %>favicon.png" />
    <link rel="stylesheet" href="css/main.css?v=1.0" />
  </head>
  <body class="background text-gray-800 antialiased">
    <noscript>
      <strong
        >We're sorry but this website doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
